<section class="userSection">
    <h5>Recent Updates</h5>
		<ul id="updateUl">
		<% globalUpdates.reverse().forEach((update) => {%>
				<li>
					<a href="/p/<%= update.question._id  %>">
						<div class="userImgHold simptip-position-top simptip-fade" data-tooltip="Author: <%= update.author.username %>">
							<img src="/pro-img/<%= update.author.profileImg %>" class="user">
						</div>
						<span class="highlight"><%= (currentUser && update.author.username === currentUser.username) ? "You" : update.author.username %></span>
						<%= update.action %>
						<span class="highlight"><%=update.question.title%></span>
						<span class="updateTime" style="display:none;"><%= update.lastUpdated %></span>
						</a>
				</li> 
				<div class="timeline"></div>
		<% }); %>
	</ul>
</section>